 
 
 <!--Dynamic Component Loading
<p *ngComponentOutlet="dynamic" ></p>

<button type="button" (click)="addDynamic()">Dynamic Componnet</button> -->


<div>
  <h3>Async pipe for a Promise :  <span style="color: blue;">{{promise }}</span> </h3> 
  <!--In the above case promise returns object ,that can't recognised by the angular.for that we use asyn pipe ,which returns the data form promise-->
  <!--Above case returns output  like ====> Async pipe for a Promise : [object Promise]  -->
  
  <h3>Async pipe for a Promise :  <span style="color: blue;">{{promise | async }}</span> </h3> 
  <!---After using async pipe output like ==> Async pipe for a Promise : Promise is completed. Data recieved .-->

</div>

<div>

  <h3>Async pipe for Promise : <span style="color: brown;">{{observable$ | async}}</span></h3>
</div>


<div>
  <h4>Async pipe for ObservableData <span style="color:red">{{observableData}}</span></h4>
</div>



<div >

  <button type="button"  (click)="showComponent()">Show Button</button>

  <div *ngIf="show" >
    <h3>Async pipe for using api</h3>
    <button type="button" (click)="asyncApi()">Async Component</button>
    <p *ngComponentOutlet="asyncComponent"></p>
  
   
  </div>
</div>